        input[type="text"]{
            height: 20%;
            width: 75%;
            border-radius: 15px;
            border: solid green 4px;
            text-transform: uppercase;
        }

        textarea{
            resize: vertical;
            width: 50%;
            border-inline: solid blue 3px;
            writing-mode: horizontal-tb;
            font-weight: bold;
        }
        select{
            scrollbar-width: thin;
            background-color: aquamarine;
            cursor:grab;
            background-position: 20px 10px;
            margin: center;
        }
        input[type="checkbox"]:checked + label{
            display: inline-flex;
            outline: 3px solid red;
            position: relative;
            transform: scale(0.5);
            text-align: center;
            
        }
        input[type ="radio"]:checked + label{
            position: relative;
            outline: 3px solid burlywood;
            transform: scale(2.5);
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

             
        }